@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;

    --card: 0 0% 14.9020%;
    --card-foreground: 0 0% 89.8039%;

    --popover: 0 0% 14.9020%;
    --popover-foreground: 0 0% 89.8039%;

    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 14.9020%;
    --secondary-foreground: 0 0% 89.8039%;

    --muted: 0 0% 12.1569%;
    --muted-foreground: 0 0% 63.9216%;

    --accent: 224.4444 64.2857% 32.9412%;
    --accent-foreground: 213.3333 96.9231% 87.2549%;

    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25.0980%;
    --input: 0 0% 25.0980%;
    --ring: 217.2193 91.2195% 59.8039%;

    --chart-1: 312.9412 100% 50%;
    --chart-2: 273.8824 100% 50%;
    --chart-3: 186.1176 100% 50%;
    --chart-4: 168 100% 50%;
    --chart-5: 54.1176 100% 50%;

    --radius: 1.375rem;

    --sidebar-background: 240 41.4634% 8.0392%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224.4444 64.2857% 32.9412%;
    --sidebar-accent-foreground: 213.3333 96.9231% 87.2549%;
    --sidebar-border: 0 0% 25.0980%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;

    --font-sans: 'Montserrat', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --shadow-x: 0px;
    --shadow-y: 0px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: #000000;
    --shadow-rgb: 0 0 0;

    --shadow-2xs: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / calc(var(--shadow-opacity) * 0.5));
    --shadow-xs: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / calc(var(--shadow-opacity) * 0.5));
    --shadow-sm: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / var(--shadow-opacity)), var(--shadow-x) calc(var(--shadow-y) / 4) calc(var(--shadow-blur) / 2) calc(var(--shadow-spread) - 1px) rgb(var(--shadow-rgb) / var(--shadow-opacity));
    --shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / var(--shadow-opacity)), var(--shadow-x) calc(var(--shadow-y) / 2) calc(var(--shadow-blur) / 2) calc(var(--shadow-spread) - 1px) rgb(var(--shadow-rgb) / var(--shadow-opacity));
    --shadow-md: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / var(--shadow-opacity)), var(--shadow-x) calc(var(--shadow-y) / 2) calc(var(--shadow-blur) * 2) calc(var(--shadow-spread) - 1px) rgb(var(--shadow-rgb) / var(--shadow-opacity));
    --shadow-lg: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / var(--shadow-opacity)), var(--shadow-x) var(--shadow-y) calc(var(--shadow-blur) * 3) calc(var(--shadow-spread) - 1px) rgb(var(--shadow-rgb) / var(--shadow-opacity));
    --shadow-xl: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / var(--shadow-opacity)), var(--shadow-x) calc(var(--shadow-y) * 2) calc(var(--shadow-blur) * 5) calc(var(--shadow-spread) - 1px) rgb(var(--shadow-rgb) / var(--shadow-opacity));
    --shadow-2xl: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) rgb(var(--shadow-rgb) / calc(var(--shadow-opacity) * 2.5));
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
